body {
	font: 100% Arial, Helvetica, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
}


#holder{
	background-color: #fcf5e8;
	width: 55%;
	margin: 0 auto 0 auto;
	padding: 0 0 0 1.2%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
}
header {
	-webkit-box-ordinal-group: 2;
	        order: 1;
}
nav.primarynav {
	
	        -webkit-box-ordinal-group: 3;
	
	                order: 2;
}
main {
	
	        -webkit-box-ordinal-group: 4;
	
	                order: 3;
}
footer {
	
	        -webkit-box-ordinal-group: 5;
	
	                order: 4;
	color: #606060;
}
.kopfzeile {
	margin: 0 0 20px 0;
	display: inline-block;
}
header img {
	border-radius: 15px;
}
.produkte{
	display: inline-block;
	margin: 10px 0;
}
h1{
	font-family: 'Sahitya', serif;
	font-size: 2em;
	text-shadow: #696969 1px 2px 3px;
}
h3 {
	font-family: 'Sofia', cursive;
	font-size: 1.2em;
}
h1, h3 {
	padding: 0 0 0 0.5em;
	color: #333;
}
p.text {
	font-family: 'Mandali', sans-serif;
	line-height: 140%;
	width: 95%;
	padding: 0.5em;
	color: ##696969;
}

#verw {
    background-color: #dcdcdc;
}
#verw a{
    text-decoration: none;
    color: #008080;
    padding: 5px 15px;
	display: block;
	text-align: center;
	font-size: 130%;
	-webkit-transition: background 1s ease;
	transition: background 1s ease;
}
#verw a:focus, #verw a:hover{
	color: #191970;
	font-weight: bold;
	font-size: 140%;
	background-color: #d3d3d3;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 90%;
	
}

nav li {
    padding: 0;
	margin: 0;
    display: inline;
    
	
}
nav a {
    padding: 10px;
	margin: 9px 3px;
	color: #008080;
	text-decoration: none;
	background-color: #dcdcdc;
	border-radius: 7px;
}

nav a:focus, nav a:hover {
	background-color: #a9a9a9;
	color: white;
	font-weight: bold;
	box-shadow: #666 3px 4px 5px;
}
nav a:active {
	font-size: 1.2em;
}

